In [29]:
from datetime import datetime
current_time = datetime.now()

In [30]:
current_time

datetime.datetime(2018, 9, 11, 11, 23, 0, 853103)

In [3]:
type(current_time)

datetime.datetime

In [6]:
current_time.strftime('%Y-%M-%d')

'2018-06-11'

In [9]:
s = '2018-06-11'
datetime .strptime(s,'%Y-%M-%d')

datetime.datetime(2018, 1, 11, 0, 6)

In [20]:
from datetime import timedelta
# current_time
newday = current_time - timedelta(days = 10)

In [22]:
current_time - newday

datetime.timedelta(10)

In [23]:
current_time + timedelta(days = -10)

datetime.timedelta(-20)

In [24]:
current_time

datetime.timedelta(-10)

In [27]:
for i in range(1,10):
#     print(i)
    dt = current_time - timedelta(days = i)
    print(dt)

-11 days, 0:00:00
-12 days, 0:00:00
-13 days, 0:00:00
-14 days, 0:00:00
-15 days, 0:00:00
-16 days, 0:00:00
-17 days, 0:00:00
-18 days, 0:00:00
-19 days, 0:00:00

In [31]:
current_time

datetime.datetime(2018, 9, 11, 11, 23, 0, 853103)

In [33]:
#unix中的从开始到现在过的秒数
from time import mktime
mktime(current_time.timetuple())

1536636180.0

In [34]:
datetime.fromtimestamp(1536636180)

datetime.datetime(2018, 9, 11, 11, 23)

In [37]:
import pandas 
df = pandas.read_excel('Data/house_sample.xlsx')
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 29
Data columns (total 11 columns):
标题       29 non-null object
建筑面积     29 non-null float64
总价       29 non-null int64
户型       29 non-null object
朝向       29 non-null object
物 业 费    29 non-null object
环比上月     29 non-null object
张贴日期     29 non-null object
产权性质     29 non-null object
装修       29 non-null object
楼层       29 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.7+ KB

In [41]:
df['张贴日期'] = pandas.to_datetime(df['张贴日期'],format = '西元%Y年%M月%d日')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 29
Data columns (total 11 columns):
标题       29 non-null object
建筑面积     29 non-null float64
总价       29 non-null int64
户型       29 non-null object
朝向       29 non-null object
物 业 费    29 non-null object
环比上月     29 non-null object
张贴日期     29 non-null datetime64[ns]
产权性质     29 non-null object
装修       29 non-null object
楼层       29 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 2.7+ KB

In [43]:
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,2017-01-12 00:04:00,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,2017-01-13 00:04:00,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,2017-01-14 00:04:00,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,2017-01-15 00:04:00,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,2017-01-16 00:04:00,个人产权,中装修,低层

In [44]:
pandas.get_dummies(df['朝向'])

    南  南北
0   0   1
1   0   1
2   0   1
3   0   1
4   1   0
5   0   1
6   1   0
7   1   0
8   1   0
9   0   1
10  0   1
11  1   0
12  0   1
13  0   1
14  0   1
15  1   0
16  1   0
17  0   1
18  1   0
19  1   0
20  0   1
21  1   0
22  1   0
23  0   1
25  0   1
26  1   0
27  1   0
28  0   1
29  1   0

In [45]:
df = pandas.concat([df,pandas.get_dummies(df['朝向'])],axis = 1)

In [47]:
df = df.drop("朝向",axis =1)
df.head()

,标题,建筑面积,总价,户型,物 业 费,环比上月,张贴日期,产权性质,装修,楼层,南,南北
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,1.5元/平米・月,↑1.44%,2017-01-12 00:04:00,商品房,豪华装修,低层,0,1
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,1.8元/・月,↑4.08%,2017-01-13 00:04:00,商品房,精装修,中层,0,1
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,暂无资料,↓0.01%,2017-01-14 00:04:00,商品房,精装修,高层,0,1
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,暂无资料,↓0.01%,2017-01-15 00:04:00,商品房,简装修,中层,0,1
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,0.8元/平米・月,↓2.62%,2017-01-16 00:04:00,个人产权,中装修,低层,1,0

In [48]:
?df.pivot_table

In [53]:
df2 = df.pivot_table(index = "张贴日期",columns = "产权性质",values="总价",aggfunc = sum,fill_value= 0)
df2.head()

产权性质                 个人产权   商品房
张贴日期
2017-01-12 00:04:00     0   760
2017-01-13 00:04:00     0    76
2017-01-14 00:04:00   560   740
2017-01-15 00:04:00   650   975
2017-01-16 00:04:00   285  1310

In [55]:
df3 = df.pivot_table(index = "产权性质",columns = "张贴日期",values="总价",aggfunc = sum,fill_value= 0)
df3.head()

张贴日期,2017-01-12 00:04:00,2017-01-13 00:04:00,2017-01-14 00:04:00,2017-01-15 00:04:00,2017-01-16 00:04:00,2017-01-17 00:04:00,2017-01-18 00:04:00,2017-01-19 00:04:00,2017-01-20 00:04:00,2017-01-21 00:04:00
产权性质,,,,,,,,,,
个人产权,0,0,560,650,285,875,1384,298,0,0
商品房,760,76,740,975,1310,575,850,769,400,270

In [56]:
df2.T

张贴日期,2017-01-12 00:04:00,2017-01-13 00:04:00,2017-01-14 00:04:00,2017-01-15 00:04:00,2017-01-16 00:04:00,2017-01-17 00:04:00,2017-01-18 00:04:00,2017-01-19 00:04:00,2017-01-20 00:04:00,2017-01-21 00:04:00
产权性质,,,,,,,,,,
个人产权,0,0,560,650,285,875,1384,298,0,0
商品房,760,76,740,975,1310,575,850,769,400,270

In [59]:
 df_multi_idx = df.pivot_table(index = ['装修','楼层'],columns = "张贴日期",values="总价",aggfunc = sum,fill_value= 0)

In [60]:
df_multi_idx

张贴日期     2017-01-12 00:04:00  2017-01-13 00:04:00  2017-01-14 00:04:00  \
装修   楼层
中装修  低层                    0                    0                    0
简装修  中层                    0                    0                    0
     低层                    0                    0                    0
     高层                    0                    0                    0
精装修  中层                    0                   76                  560
     低层                    0                    0                    0
     高层                    0                    0                  440
豪华装修 中层                    0                    0                    0
     低层                  760                    0                    0
     高层                    0                    0                  300

张贴日期     2017-01-15 00:04:00  2017-01-16 00:04:00  2017-01-17 00:04:00  \
装修   楼层
中装修  低层                    0                  285                    0
简装修  中层                  690                  770                    0
     低层                    0                    0                  355
     高层                  285                  340                  220
精装修  中层                    0                  200                  295
     低层                    0                    0                  580
     高层                  650                    0                    0
豪华装修 中层                    0                    0                    0
     低层                    0                    0                    0
     高层                    0                    0                    0

张贴日期     2017-01-18 00:04:00  2017-01-19 00:04:00  2017-01-20 00:04:00  \
装修   楼层
中装修  低层                    0                    0                    0
简装修  中层                  850                    0                  400
     低层                    0                  410                    0
     高层                    0                    0                    0
精装修  中层                  926                    0                    0
     低层                  458                    0                    0
     高层                    0                  359                    0
豪华装修 中层                    0                  298                    0
     低层                    0                    0                    0
     高层                    0                    0                    0

张贴日期     2017-01-21 00:04:00
装修   楼层
中装修  低层                    0
简装修  中层                  270
     低层                    0
     高层                    0
精装修  中层                    0
     低层                    0
     高层                    0
豪华装修 中层                    0
     低层                    0
     高层                    0

In [63]:
df_wide = df_multi_idx.unstack()
df_wide.head()

张贴日期 2017-01-12 00:04:00             2017-01-13 00:04:00            \
楼层                    中层     低层   高层                  中层   低层   高层
装修
中装修                  NaN    0.0  NaN                 NaN  0.0  NaN
简装修                  0.0    0.0  0.0                 0.0  0.0  0.0
精装修                  0.0    0.0  0.0                76.0  0.0  0.0
豪华装修                 0.0  760.0  0.0                 0.0  0.0  0.0

张贴日期 2017-01-14 00:04:00             2017-01-15 00:04:00 ...   \
楼层                    中层   低层     高层                  中层 ...
装修                                                       ...
中装修                  NaN  0.0    NaN                 NaN ...
简装修                  0.0  0.0    0.0               690.0 ...
精装修                560.0  0.0  440.0                 0.0 ...
豪华装修                 0.0  0.0  300.0                 0.0 ...

张贴日期 2017-01-18 00:04:00 2017-01-19 00:04:00                \
楼层                    高层                  中层     低层     高层
装修
中装修                  NaN                 NaN    0.0    NaN
简装修                  0.0                 0.0  410.0    0.0
精装修                  0.0                 0.0    0.0  359.0
豪华装修                 0.0               298.0    0.0    0.0

张贴日期 2017-01-20 00:04:00           2017-01-21 00:04:00
楼层                    中层   低层   高层                  中层   低层   高层
装修
中装修                  NaN  0.0  NaN                 NaN  0.0  NaN
简装修                400.0  0.0  0.0               270.0  0.0  0.0
精装修                  0.0  0.0  0.0                 0.0  0.0  0.0
豪华装修                 0.0  0.0  0.0                 0.0  0.0  0.0

[4 rows x 30 columns]

In [64]:
de_long = df_multi_idx.stack()
de_long.head()

装修   楼层  张贴日期
中装修  低层  2017-01-12 00:04:00      0
         2017-01-13 00:04:00      0
         2017-01-14 00:04:00      0
         2017-01-15 00:04:00      0
         2017-01-16 00:04:00    285
dtype: int64